# Starting python with static types..

In [1]:
print("Hello World")

Hello World

## String

In [3]:
name = "Taha khan"
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

Taha khan
<class 'str'>
2149606196080
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## Data Types with restricted types

In [ ]:
name : str = "Taha khan"
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

In [ ]:
name : int = 10
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

In [5]:
name : float = 400.12
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

400.12
<class 'float'>
2149605459248
['as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [4]:
name : bool = False
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

False
<class 'bool'>
140703194155760
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [6]:
name : list[str] = ["Taha khan", "Ali", "Ahmed"]
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

['Taha khan', 'Ali', 'Ahmed']
<class 'list'>
2149606323392
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
name : tuple[str,int,bool] = ("Taha khan", 10, True)
print(name)  # print
print(type(name))  # type
print(id(name))  # physical address
print([i for i in dir(name) if "__" not in i])  # methods & attributes

('Taha khan', 10, True)
<class 'tuple'>
2149606317696
['count', 'index']

## String Data Type

In [17]:
# Bounderies
# "string text", 'string text', """string text""", '''string text'''

name : str = "Taha khan"
fname : str = "Murad khan"
education : str = "BSCS"
age: int = 20

card : str = "PIAIC Student Card\nStudent Name : " + name + "\nage : " + str(age)

print(card)

PIAIC Student Card
Student Name : Taha khan
age :20

In [11]:
# convert special characters into normal characters, place \ before special character

name : str = 'Taha khan \n Father\'s name : Murad khan'
print(name)  # print

Taha khan
 Father's name : Murad khan

### "/" Line Continue

In [18]:
print(7 + \
    3 + \
        +4)

14

## Define MultiLine String """ """, ''' '''

In [23]:
name : str = "Taha khan"
fname : str = "Murad khan"
education : str = "BSCS"
age: int = 20

# we are using fstring to access variables in string
# jinja style is also used in concatination of string like {{name}}

card : str = f"""
PIAIC Student Card 
Student Name : {name}
Father's Name : {fname}
Age : {age}
Education : {education}

"""

print(card)

PIAIC Student Card
Student Name : Taha khan
Father's Name : Murad khan
Age : 20
Education : BSCS

In [24]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
a = 7
b = 6

#                   0                 1         0,1  
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 6'

In [36]:
name : str = "Taha khan"
fname : str = "Murad khan"
education : str = "BSCS"
age: int = 20

card : str = """
PIAIC Student Card 
Student Name : {0}
Father's Name : {1}
Age : {2}
Education : {3}

""".format(name,fname,age,education)

print(card)

PIAIC Student Card
Student Name : Taha khan
Father's Name : Murad khan
Age : 20
Education : BSCS

## Explore String Methods & Attributes

In [38]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [42]:
name : str = "Taha khan"
print(name)
print(name.capitalize())
print(name.casefold())
name1 : str = "           TAHA KHAN         "
display(name1.lstrip())
display(name1.rstrip())
display(name1.strip())

Taha khan
Taha khan
taha khan

'TAHA KHAN         '

'           TAHA KHAN'

'TAHA KHAN'

In [44]:
import re

name : str = "         Taha     khan       "

name1 : str = re.sub(' {2,100}',' ',name)
print(name1)

 Taha khan

In [45]:
first_name : str = "Taha"
last_name : str = "khan"
full_name : str = f"{first_name} {last_name}"
print(full_name)
#\n => new line
#\t => tab
#\b => backspace

Taha khan

# Operators

## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [10]:
# !pip install lxml

Collecting lxml
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 1.3 MB/s eta 0:00:03
   ---------------------------------------- 0.0/3.8 MB 1.3 MB/s eta 0:00:03
   ---------------------------------------- 0.0/3.8 MB 1.3 MB/s eta 0:00:03
    --------------------------------------- 0.1/3.8 MB 273.8 kB/s eta 0:00:14
   - -------------------------------------- 0.1/3.8 MB 437.6 kB/s eta 0:00:09
   - -------------------------------------- 0.2/3.8 MB 583.1 kB/s eta 0:00:07
   -- ------------------------------------- 0.3/3.8 MB 749.3 kB/s eta 0:00:05
   --- ------------------------------------ 0.3/3.8 MB 770.1 kB/s eta 0:00:05
   ---- ----------------------------------- 0.4/3.8 MB 897.8 kB/s eta 0:00:04
   ---- ----------------------------------- 0.4/3.8 MB 917.0 kB/s eta 0:00:04
   ----- ---------------------------------- 0.5/3.8 MB 952.6 kB/s eta 0:00:04
   ----- ---------------------------------- 0.6/3.8 MB 983.9 kB/s eta 0:00:04
   ------ --------------------------------- 0.7/3.8 MB 1.1 MB/s eta 0:00:03
   ------- -------------------------------- 0.7/3.8 MB 1.1 MB/s eta 0:00:03
   ------- -------------------------------- 0.7/3.8 MB 1.1 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.0 MB/s eta 0:00:03
   --------- ------------------------------ 0.8/3.8 MB 1.1 MB/s eta 0:00:03
   --------- ------------------------------ 0.9/3.8 MB 1.1 MB/s eta 0:00:03
   --------- ------------------------------ 0.9/3.8 MB 1.0 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.1 MB/s eta 0:00:03
   ----------- ---------------------------- 1.0/3.8 MB 1.1 MB/s eta 0:00:03
   ----------- ---------------------------- 1.1/3.8 MB 1.1 MB/s eta 0:00:03
   ----------- ---------------------------- 1.1/3.8 MB 997.4 kB/s eta 0:00:03
   ------------ --------------------------- 1.1/3.8 MB 1.0 MB/s eta 0:00:03
   ------------ --------------------------- 1.2/3.8 MB 1.0 MB/s eta 0:00:03
   ------------- -------------------------- 1.2/3.8 MB 1.0 MB/s eta 0:00:03
   -------------- ------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   --------------- ------------------------ 1.5/3.8 MB 989.8 kB/s eta 0:00:03
   --------------- ------------------------ 1.5/3.8 MB 1.0 MB/s eta 0:00:03
   ---------------- ----------------------- 1.5/3.8 MB 963.7 kB/s eta 0:00:03
   ---------------- ----------------------- 1.5/3.8 MB 966.9 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 948.5 kB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 794.8 kB/s eta 0:00:03
   ------------------ --------------------- 1.7/3.8 MB 825.4 kB/s eta 0:00:03
   ------------------ --------------------- 1.7/3.8 MB 825.4 kB/s eta 0:00:03
   ------------------ --------------------- 1.7/3.8 MB 803.5 kB/s eta 0:00:03
   ------------------ --------------------- 1.8/3.8 MB 807.4 kB/s eta 0:00:03
   ------------------ --------------------- 1.8/3.8 MB 793.7 kB/s eta 0:00:03
   ------------------- -------------------- 1.8/3.8 MB 790.8 kB/s eta 0:00:03
   ------------------- -------------------- 1.8/3.8 MB 788.4 kB/s eta 0:00:03
   ------------------- -------------------- 1.9/3.8 MB 781.3 kB/s eta 0:00:03
   -------------------- ------------------- 1.9/3.8 MB 777.9 kB/s eta 0:00:03
   -------------------- ------------------- 1.9/3.8 MB 779.7 kB/s eta 0:00:03
   -------------------- ------------------- 1.9/3.8 MB 783.9 kB/s eta 0:00:03
   -------------------- ------------------- 2.0/3.8 MB 772.8 kB/s eta 0:00:03
   -------------------- ------------------- 2.0/3.8 MB 767.4 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 765.8 kB/s eta 0:00:03
   ---------------------- ----------------- 2.1/3.8 MB 700.1 kB/s eta 0:00:03
   ---------------------- ----------------- 2.1/3.8 MB 699.7 kB/s eta 0:00:03
   ---------------------- ----------------- 2.1/3.8 MB 695.6 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 695.0 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 700.9 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 694.0 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 694.0 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 689.5 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 685.9 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 685.9 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 670.2 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 667.2 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 661.2 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 658.2 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 655.3 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 611.7 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 607.1 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 607.1 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 600.6 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 596.7 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 599.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 599.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 599.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 599.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 599.3 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 599.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 562.7 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 565.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 565.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 565.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 565.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 565.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 565.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 536.3 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 533.5 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 533.5 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 533.5 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 533.5 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 520.6 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 520.6 kB/s eta 0:00:03
   ---------------------------- ----------- 2.6/3.8 MB 515.1 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 512.8 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 510.1 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 509.5 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ---------------------------- ----------- 2.7/3.8 MB 507.0 kB/s eta 0:00:03
   ----------------------------- ---------- 2.7/3.8 MB 479.4 kB/s eta 0:00:03
   ----------------------------- ---------- 2.7/3.8 MB 479.4 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 470.9 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 470.9 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 470.9 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 470.9 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 459.6 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 459.6 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 454.3 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 454.3 kB/s eta 0:00:03
   ----------------------------- ---------- 2.8/3.8 MB 452.8 kB/s eta 0:00:03
   ------------------------------ --------- 2.9/3.8 MB 453.2 kB/s eta 0:00:03
   ------------------------------ --------- 2.9/3.8 MB 452.6 kB/s eta 0:00:03
   ------------------------------ --------- 2.9/3.8 MB 455.7 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 455.0 kB/s eta 0:00:02
   ------------------------------- -------- 2.9/3.8 MB 456.6 kB/s eta 0:00:02
   ------------------------------- -------- 3.0/3.8 MB 458.0 kB/s eta 0:00:02
   ------------------------------- -------- 3.0/3.8 MB 458.3 kB/s eta 0:00:02
   -------------------------------- ------- 3.0/3.8 MB 458.1 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 459.1 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 457.4 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 456.6 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 457.6 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 458.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 458.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 458.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 458.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 458.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 458.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 439.8 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 440.7 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 440.7 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 435.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 435.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 435.5 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 432.3 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 431.4 kB/s eta 0:00:02
   ---------------------------------- ----- 3.2/3.8 MB 397.8 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 396.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 396.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 396.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 396.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 396.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 396.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 383.8 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 383.8 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 383.8 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 383.8 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 377.9 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 377.9 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 377.9 kB/s eta 0:00:02
   ---------------------------------- ----- 3.3/3.8 MB 377.9 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 373.5 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 373.5 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 370.7 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 369.8 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 369.8 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 369.8 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 369.8 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 369.8 kB/s eta 0:00:02
   ----------------------------------- ---- 3.3/3.8 MB 360.9 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 361.3 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 361.3 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 361.3 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 361.3 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 361.3 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 354.0 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 340.5 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 340.5 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 340.5 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 340.5 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 335.8 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 335.8 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 335.8 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 332.2 kB/s eta 0:00:02
   ------------------------------------ --- 3.4/3.8 MB 332.2 kB/s eta 0:00:02
   ------------------------------------ --- 3.5/3.8 MB 331.6 kB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 331.6 kB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 331.6 kB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 332.6 kB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 332.5 kB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 334.4 kB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 333.9 kB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 334.9 kB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 335.3 kB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 335.7 kB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 337.5 kB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 338.9 kB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 340.7 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 341.1 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

In [11]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a : int = 10
b : int = 5

print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division
print(a // b) # floor division
print(a % b) # modulus
print(a ** b) # power

15
5
50
2.0
2
0
100000

# Assignment Operators

In [3]:
# Assignment Operators
df[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [1]:
a : int = 10
a += 5
print(a)

15

# Comparision Operator

In [12]:

df[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [1]:
a : int = 10
b : int = 5

print(a == b) # equal
print(a > b) # greater

False
True

ASCII CODE
```
A = 65
Z = 90

a = 97
z = 122

0 = 48
9 = 57
```

In [4]:
chr(65)

'A'

In [5]:
ord('A')

65

In [6]:
a : str = 'A'
b : str = 'a'

print(a > b)

False

## Python Logical Operator

In [13]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [16]:
# and lazmi
# or optional

print(True and True)
print(True and False)

print(True or False)

True
False
True

In [17]:
not True

False

## Python identity Operators

In [18]:
df[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [23]:
x : str = 'abc'
y : str = 'abc'

print(id(x))
print(id(y))

x is y
# x is not y

140705763627272
140705763627272

True

In [24]:
name : str = "Taha"
surname : str = "Khan"

print(id(name))
print(id(surname))

name is not surname

2577149745440
2577149743520

True

## Python Memebership Operator

In [25]:
df[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [27]:
names : list[str] = [chr(i) for i in range(65,91)]

"D" in names
# "Pakistan" in names

False

In [28]:
name : list[str] = ["Taha khan", "Tahaaa", "Elvishh bhaii"]
uinput : str = input("Enter your name")

uinput in name

True

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

## PEMDAS

In [29]:
sum : int = (2 + 4 * 8 / 3 -2 ) * (2 * 2 / 4)
print(sum)

10.666666666666666

In [30]:
a , b , c = ("taha", 34, "khan")

print(a)
print(b)
print(c)

taha
34
khan

In [31]:
data = ('qasim', 43, 43)
print(data[0], data[1], data[2])

qasim 43 43

In [33]:
data = ('qasim', 43, 43)
print(*data)

qasim 43 43

In [34]:
"A" * 3

'AAA'

## ZEN OF PYTHON

In [35]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!