# List
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ["Taha khan", "Tahaaa", "Tahhhhhaaa"]

print(names)

['Taha khan', 'Tahaaa', 'Tahhhhhaaa']

In [4]:
names : list[str] = ["Taha khan", "Tahaaa", "Tahhhhhaaa"]

for name in names:
    print(name)

Taha khan
Tahaaa
Tahhhhhaaa

In [1]:
# old method

names : list[str] = ["Taha khan", "Tahaaa", "Tahhhhhaaa"]

i:int = 0;

while i<len(names):
    print(names[i])
    i += 1

Taha khan
Tahaaa
Tahhhhhaaa

In [1]:
names : list[str] = ["Taha khan", "Tahaaa", "Tahhhhhaaa"]

for name in names:
    print(f'Welcome Dear teacher {name.title()}')
    print('PIAIC Gen AI team\n')


for name in names[0:1]:
    print(f'Welcome Dear teacher {name.title()}')
    print('PIAIC Gen AI team\n')

Welcome Dear teacher Taha Khan
PIAIC Gen AI team

Welcome Dear teacher Tahaaa
PIAIC Gen AI team

Welcome Dear teacher Tahhhhhaaa
PIAIC Gen AI team

Welcome Dear teacher Taha Khan
PIAIC Gen AI team

In [4]:
data_base : list[tuple[str, str]] = [("Taha", "134"), ("Tahaaa", "144"), ("Tahhhhhaaa", "158")];

input_user : str = input("Enter user name...")
input_pass : str = input("Enter Passwrd...")

for row in data_base:
    user, password = row
    if user == input_user and password == input_pass:
        print("User Found")
        break
else:
    print("Not Found")

Not Found

In [9]:
names : list[str] = ["Taha khan", "Tahaaa", "Tahhhhhaaa"]

list(enumerate(names))

[(0, 'Taha khan'), (1, 'Tahaaa'), (2, 'Tahhhhhaaa')]

### Numbers with loop
* range(start,end,step)

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10)) # starting 0, ending n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1, 10)) # starting 1, ending n-1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1, 10, 2)) # starting 1, ending n-1, step 2

[1, 3, 5, 7, 9]

In [12]:
for n in enumerate(range(2, 21, 2)):
    print(f"2 x {n[0]} = {n[1]}")

2 x 0 = 2
2 x 1 = 4
2 x 2 = 6
2 x 3 = 8
2 x 4 = 10
2 x 5 = 12
2 x 6 = 14
2 x 7 = 16
2 x 8 = 18
2 x 9 = 20

In [14]:
squares : list[int] = []

for n in range(1, 11):
    squares.append(n**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List Comprehensive
* for item in items_list:
        loop body

### Comprehensive style
* [loop body for in items_list]

In [15]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(min(digits))
print(max(digits))
print(sum(digits))

1
9
45

### Tuple

In [17]:
data : tuple[str, str, str] = ("Taha", "Khan", "PIAIC")
# tuple is immutable

print(data[0])

Taha

In [19]:
datas : tuple[str, list:[int]] = ("Taha", [1, 2, 3, 4, 5, 6, 7, 8, 9])

datas[1].append(10)
# here we hav'nt change the tuple but we change the list inside the tuple
print(datas)

('Taha', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### Set

In [1]:
data : set = {7,1,1,1,1,3,3,5,9,1}
print(data)

{1, 3, 5, 7, 9}

In [3]:
[i for i in dir(data) if "__" not in i]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
data: set = {4,4,1,7,8,2}
display(data)

data_list : list[int] = list(data)
display(data_list)

{1, 2, 4, 7, 8}

[1, 2, 4, 7, 8]